{{#each albums as |album|}}


  <!-- ^ runs code in partial.handlebaRs file each time loop is run -->
  <!-- Note how this file and partial file are in the same folder -->
  {{log  this}}
  <!-- ^ works like a console.log, will print this to console -->
 <!-- Developers, why are we using data-id and not just id? -->
  <!-- <h1 data-id="{{book.id}}"> <small>Title: {{book.title}}</small></h1>
  <div>
    {{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}
  </div> -->

  <ul data-id="{{album.id}}">
    {{album.id}}
    <li>Artist: {{album.artist_name}}</li>
      {{#if album.album_name}}
        <small>Album: {{album.album_name}}</small>
      {{else}}
        No description.
      {{/if}}
      <li>
        <button type="submit" data-id="{{album.id}}" class="del-album">Remove</button>
      </li>
      <li>
        <form class='update-album' data-id="{{album.id}}">
          <div class="form-group">
            <input type="text" name="album[artist_name]" id="artist-name" placeholder="Artist Name">
            <input type="text" name="album[album_name]" id="album-name" placeholder="Album Name">
          </div>
          <button type="submit" class="btn btn-default refresh" data-id="{{album.id}}">Update Album</button>
        </form>
      </li>
    </ul>
{{/each}}
