{{#each albums as |album|}}


  <!-- ^ runs code in partial.handlebaRs file each time loop is run -->
  <!-- Note how this file and partial file are in the same folder -->
  <!-- ^ works like a console.log, will print this to console -->
 <!-- Developers, why are we using data-id and not just id? -->
  <!-- <h1 data-id="{{book.id}}"> <small>Title: {{book.title}}</small></h1>
  <div>
    {{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}
  </div> -->
  <div class="album-item">
    <div class="album-info">
      <ul class="deets" data-id="{{album.id}}">
        <p>{{album.artist_name}}<p>
        <p><small>{{album.album_name}}</small></p>
      </ul>
      <span class="label label-success show-album-comments" data-id="{{album.id}}">Show Comments</span>
      <span class="label label-info hide-album-comments" data-id="{{album.id}}">Hide Comments</span>
    </div>
    <div class="fields" data-id="{{album.id}}">
      <form class='create-comment hide'>
        <input type="text" name="comment[comment]" placeholder="Comment Here">
        <input type="hidden" name="comment[album_id]" value="{{album.id}}">
        <button type="submit" class="btn btn-default">Create Comment</button>
      </form>
      <form class='update-album hide' data-id="{{album.id}}">
        <div class="form-group">
          <input type="text" name="album[artist_name]" id="artist-name" placeholder="Artist Name">
          <input type="text" name="album[album_name]" id="album-name" placeholder="Album Name">
          <button type="submit" class="btn btn-default refresh" data-id="{{album.id}}">Update Album</button>
        </div>
      </form>
      <div class="display-comments" data-id="{{album.id}}"></div>
    </div>
    <div class="album-edits">
      <span class="label label-primary edit-album" data-id="{{album.id}}">Edit Album Info</span><span class="label label-primary comment-album" data-id="{{album.id}}">Comment</span><span class="label label-danger del-album" data-id="{{album.id}}">Delete</span>
    </div>
  </div>
{{/each}}
